.ShopItem{
  border-bottom: 1px solid #f0f0f0;
  padding: 20px;
  font-weight: 500;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  transition: linear 0.2s background-color;
  cursor: pointer;
}

.ShopItem:hover{
  background-color: #f2f2f2;
}

.Network{
  font-size: 15px;
  color: #14374c;
  line-height: 28px;
}

.Address{
  font-size: 10px;
  font-weight: 400;
  color: #cccccc;
}
