.Marker {
  background-color: #fff;
  position: absolute;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}

.Marker:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 7.5px 0 7.5px;
  border-color: #ffffff transparent transparent transparent;
  content: '';
  font-size: 0;
  position: absolute;
  top:100%;
  left: 50%;
  transform: translateX(-50%);
}

.Marker {
  display: flex;
  justify-content: center;
  padding: 5px;
  min-width: 40px;
}

.Marker img{
  height: 40px;
  width: auto;
}

.Tooltip{
  width:300px;
}

.Tooltip h3{
  font-family: "Montserrat";
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;

}

.Tooltip img{
  height: 40px;
  width: auto;
  vertical-align: middle;
}

.Tooltip__Header{
  border-bottom: 1px solid #f2f2f2;
}

.Tooltip__Header .Tooltip__Address{
  display: block;
  margin: 10px 0;
}

.Tooltip__OpenHours {
  width: 100%;
  font-family: "Montserrat";
  font-size: 13px;
}

.CurrentDay{
  background: #f2f2f2;
}
